body {
    background-color: #C6E2FF;
}

svg {
    display: block;
    margin: 0 auto;
}

.neighborhood {
    fill: #EBEBEB;
    stroke: #C9C9C9;
}

.freeway {
    fill: 'none';
    stroke: #f49d32;
}

.vehicle {
    fill: red;
    stroke: #545454;
    fill-opacity: 0.5;
}

.no-vehicle {
    color: red;
}
